/* google fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* universal style ---------- */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     font-family: 'Poppins', sans-serif;
}

/* header ---------- */
.header {
     background: url("images/top-banner.png");
     background-repeat: no-repeat;
}
/* navBar ---------- */
.navBar {
     display: flex;
     position: sticky;
     background: url(images/top-banner.png);
     background-repeat: no-repeat;
     padding: 15px 20%;
     height: 80px;
     top: 0;
     width: 100%;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
}
.logo {}
.logo img {
     width: 50px;
}
.menuSection {
     width: 80%;
     text-align: right;
     padding: 18px 0px 0px 0px;
}
.menuSection ul {
     display: inline-flex;
}
.menuSection ul li {
     list-style-type: none;
}
.menuSection ul li a {
     text-decoration: none;
     text-transform: capitalize;
     padding: 0px 5px 0px 25px;
     color: #f05f88;
     font-weight: 600;
}

/* home ---------- */
.homePage {
     display: flex;
     width: 100vw;
     padding: 80px;
}
.homeContent {
     width: 50%;
     padding: 40px;
}
.homeContent h2 {
     font-size: 40px;
     font-weight: 600;
}
.homeContent h1 {
     font-size: 50px;
     font-weight: 800;
}
.homeContent h3 {}
.homeContent p {}
.homeContent a {}
.homeImage {
     width: 50%;
}